<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Start</a>
      <a href="topplista">Topplista</a>
      <div class="topnav-right">
        <a href="cart">Varukorg</a>
        <a href="welcome">Om mig</a></li>
      </div>
  </div>
    {% block content %}{% endblock %}
  </body>
  <div style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5f4c4c;
  color: white;
  text-align: center;">
    <footer>
      <p>© 2023 Kursboksaffären. <i>Projekt av Simon Danielsson</i></p>
    </footer>
  </div>
</html>

