{% extends "base.html" %} 
{% block title %}Kursboksaffären - Om mig{% endblock %} 

{%block content %}
<div class="welcomemsg">
	<p>Välkommen till kursboksaffären! Här finns det massa böcker till dig som går på Blekings Tekniska Högskola.</p>
	<p>Förhoppningsviss ska det vara lätt att navigera och köpa böcker.</p>
	<p>Tryck på valfri kurs på startsidan för att hitta dess kurslitteratur.</p>
	<p>Jag vill även påpeka att 10% av all försäljning går till Blekinge Studentkår.</p>
	<p>Bästa hälsningar</p>
	<p>Simon Danielsson, <i>Student på Blekinges Tekniska högskola</i></p>
</div>

{% endblock %}
